@model ASM6.Models.Book

<h2>THÔNG TIN CHI TIẾT SÁCH</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="~/imgs/@Model.Image" class="img-fluid" alt="Book Image">
        </div>
        <div class="col-md-8">
            <h4 style="color: red; font-weight: bold;">Tên sách: @Model.Title</h4>
            <h4 style="color: red; font-weight: bold;">Tác giả: @Model.Author</h4>
            <p><strong>Mô tả: </strong> @Model.Description</p>
            <p style="color: red; font-weight: bold;"><strong style="color: black; font-weight: bold;">Giá bán: </strong>@Model.Price</p>
            <form action="/Cart/AddToCart" method="post">
                <input type="hidden" name="bookId" value="@Model.ID" />
                <input type="submit" class="btn btn-primary" value="Đặt mua" />
            </form>
        </div>
    </div>
</div>