@model IEnumerable<ASM6.Models.Book>

@{
    ViewData["Title"] = "Index_category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-posts">
    @{
        foreach (Book item in Model)
        {
            <div class="col-md-4" style="margin:10px;box-sizing: border-box;width: calc(33.33% - 20px);float: left; padding: unset">
                <div class="card">
                    <div class="card-header" style="justify-content:space-between;display:flex; flex-wrap:revert">
                        <h4 class="card-title">@item.Title</h4>
                        <a asp-action="Edit" asp-controller="Book" asp-route-id="@item.ID" class="btn btn-primary">Edit</a>
                    </div>
                    <div class="card-body">

                        <p class="card-text">Tác giả: @item.Author</p>
                        <p class="card-text">Danh mục: @item.Category.Name</p>
                        <img src="~/images/@item.Image" class="card-img-top" alt="Book Image" style="height:200px;width:100px;">
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <a href="@Url.Action("Details","Book", new { id = item.ID })" class="btn btn-primary">Chi tiết</a>
                            <a href="@Url.Action("Delete","Book", new { id = item.ID })" class="btn btn-danger">Xóa</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
